.signup-background {
    background-image: url("../Styles/BackgroundImage/signupbackground.png");
    background-repeat: no-repeat;
    background-size: cover !important;
    font-family: myFont;
}

.sidebarbackground {
    background-image: url("../Styles/BackgroundImage/votebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

@font-face {
    font-family: myFontmid;
    src: url("../Styles/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf");
}

@font-face {
    font-family: myFont;
    src: url("../Styles/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf");
}
@font-face {
    font-family: myFontsmall;
    src: url("../Styles/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf");
}
input::placeholder {
    color:  #BDBDBD !important;
    opacity: 1;
  }

.fonts-text {
    font-family: myFont;
}

.fonts-small {
    font-family: myFontsmall;
}
.isActive {
    transition: 0.6s ease-in-out;
}
.fonts-mid {
    font-family: myFontmid;
}

@media screen and (max-width: 767px) {
    .group_cont{
        height: 100%;
    }
}

@media (min-width: 540px) and (max-width:640px){
    .group_button {
        height: 11vw !important;
    }
    .group_buttonlogout {
        height: 10vw !important;
    }
    .weblogo-png {
        top: -27vw !important;
    }
    .form_sign {
        height: 12vw !important;
        font-size: 4vw !important;
    }
    .line_suf {
        display: none !important;
    }
    .form_button {
        height: 12vw !important;
        font-size: 3.5vw !important;
    }
    .signin-cont-surf {
        width: 76% !important;
    }
    .group_but {
        width: 76% !important;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 400px) and (max-height: 600px) {
    .group_button {
        height: 8vw !important;
        width: 90%;
        font-size: 2.5vw !important;
    }
    .ipad_cont2 {
        height: 700dvh !important;
    }
    .nexthub_1 img{
        width: 38vw !important;
    }
    .nesthub-full {
        gap: 2vw !important;
    }
    .nexthub_1 {
        gap: 4vw !important;
    }
    .nexthub_1 span {
        font-size: 4vw !important;
    }
    .group_buttonlogout {
        height: 7vw !important;
        width: 50% !important;
        font-size: 2.5vw !important;
        margin: 3rem 0 !important;
        position:  relative !important;
    }
    .signin-cont-surf {
        width: 60% !important;
    }
    .form_sign {
        height: 8vw !important;
        font-size: 2.6vw !important;
    }
    .login_error {
        font-size: 2.4vw !important;
        top: -3.1vw !important;
    }
    .form_button {
        height: 7.3vw !important;
        font-size: 2.6vw !important;
        top: -3vw !important;
    }
    .group_but {
        width: 50% !important;
    }
    .weblogo-png {
        top: 4vw !important;
        width: 30vw !important;
        padding-bottom: 6rem;
        position: relative;
    }
}