/* .voting-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.images {
  display: flex;
  gap: 1rem;
}

.image-container {
  position: relative;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.vote-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.vote-button.active {
  background-color: #0250FC;
  color: white;
} */
